doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing Backyard
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        header
            div.row.valign-wrapper
                a.col.s2.offset-s1(href="#")
                    img.top.responsive-img(src="img/logo2.png")
                div.col.s1.offset-s6
                div.col.s2 Features
        section.main.white-text
            div.row.backImg
                div.col.s5.offset-s1
                    h2 Mobile Strategy App
                    p.justify Backyard is a modern and customizble landing page template design to increase conversion of your product. Backyard is flexible to suit any kind of your business. Try now and join with our happy customers!
                    button.blue Features
                    button.vacio Subscribe
                    div
                        br
                        span Available for:
                        i.fa.fa-apple
                        span  IOS
                        i.fa.fa-android
                        span  ANDROID
        section.row.performance.grey-text
            div.col.s5.offset-s1
                img.responsive-img(src="img/phone.jpg")
            div.col.s5")
                h4 Optimize performance through advanced targeting solutions
                p.justify Good marketing makes the company look smart.
                    span.blueTxt Great marketing
                    span makes the customer feel smart, - Joe Chernov. Never doubt a small group of thoughtful, committed people can change the world. Indeed, it is the only thing that ever has, - Margaret Mead. The best way to predict the future is to create it, - Peter Drucker.
                    button.vacio Learn More
        section.row.ideas.grey-text
            div.center
                h4 Recreate your ideas and gain more success
                p.titles Increase your user loyalty by maintaining mutual communication and nurturing your online community.
            div.row
                div.col.s4.offset-s1
                    img.responsive-img(src="img/phone.jpg")
                div.col.s3
                    p.themes Marketing Strategy
                    p Good marketing makes the company look smart. Great marketing makes the customer feel smart.
                    br
                    p.themes Store Optimization
                    p Never doubt a small group of thoughtful, committed people can change the world. Indeed, it is the only thing that ever has.
                div.col.s3
                    p.themes App Monetization
                    p Content builds relationships. Relationships are built on trust. Trust drives revenue. - Andrew Davis
                    br
                    p.themes User Management
                    p Instead of using technology to automate processes, think about using technology to enhance human interaction.
        section.row.final
            div.center
                i.fa.fa-twitter.fa-lg.icon(aria-hidden="true")
                i.fa.fa-facebook.fa-lg.icon(aria-hidden="true")
                i.fa.fa-google-plus.fa-lg.icon(aria-hidden="true")
                i.fa.fa-instagram.fa-lg.icon(aria-hidden="true")
            div.center
                p Copyright Backyard 2015 - Template by
                    span.blueTxt Mariana Jane
